.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#Codeigniter
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html